<table>
  <% allTodos.forEach(todo => { %>
    <tr>
      <td><input type="checkbox" id="todo-<%= todo.id %>" class="accent-green-500" /></td>
      <td><label for="todo-<%= todo.id %>" class="text-gray-800"><%= todo.title %></label></td>
    </tr>
  <% }) %>
</table>